.hello-message {
  position: absolute;
  display: block;
  font-size: 120%;
  top: 100px;
  right: 50%;
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  -webkit-appearance: none;
  color: #222222;
  width: 300px;
  text-align: center;
}

.fade-message-enter {
  opacity: 0.01;
}

.fade-message-enter.fade-message-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-message-leave {
  opacity: 1;
}

.fade-message-leave.fade-message-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.animate{
  transition: all .3s;
}

.question{
  position: relative;
  float:right;
  text-align: right;
  display: block;
  padding: 10px 10px;
  width: 100%;
  margin-top: 5px;
  font-size: 1.2em;
  background: rgba(246, 246, 246, 1);
  color: #8B0000;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 3px;
  opacity: 1;
  -webkit-animation: fadeIn fadeIn 1.5s both;
  animation: fadeIn 1s both;
  
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

.response{
  position: relative;
  float: right;
  color: #2E8B57;
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 3px;
  display: inline;
  max-height: 300px;
  transition: max-height 4s ease-in;
}

.responseInActive{
  max-height: 0;
  transition: max-height 4s ease-out;
  display: none;
}