.hello-message {
  position: absolute;
  display: block;
  font-size: 120%;
  top: 100px;
  right: 50%;
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  -webkit-appearance: none;
  color: #222222;
  width: 300px;
  text-align: center;
}

.fade-message-enter {
  opacity: 0.01;
}

.fade-message-enter.fade-message-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-message-leave {
  opacity: 1;
}

.fade-message-leave.fade-message-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.animate{
  transition: all .3s;
}

.question{
  position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: #5a9aa8;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background: #7B2623;
    color: #7A2723;
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}