
.modal{
    direction:rtl;
}

.box {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    /*bottom: 30px;*/
    background-color: #fff;
    color: #7F7F7F;
    padding: 20px;
    border: 2px solid blue;
    /*-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;*/
    z-index: 101;
    direction:rtl;
}

.success{
    border: 3px dashed green;
    border-radius: 5px;
    color: green;
}
    
.failure{
    border: 4px solid red;
    border-radius: 5px;
    color: red;
}
.notEnough{
    border-radius: 10px;
}

a.boxclose {
    float: right;
    margin-top: -10px;
    margin-right: -15px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.boxclose:before {
    content: "×";
}

input[type=text]{
    display: inline;
    width: 45%;
    margin: 2px 5px;
}

.priceSelect{
width: 100%;

}

.gpsCont{
margin-top: 20px;
font-size: 14px;
}

.gpsCont input[type=checkbox]{
    display: inline;
    width: 5%;
    margin-left: 5px;
}

.gpsCont .gpsSelect{
    width: 30%;
    margin-right: 10px;
}