.rect {
  max-width: 150px;
  max-height: 75px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.regBorder {
  border: 2px solid green;
      color: antiquewhite;
    background-color: springgreen;
}


.blinkBorder {
  border: 2px solid red;
   color: antiquewhite;
    background-color: rgb(255, 98, 98);
}
/*.blinkBorder h3 {
  color: red;
}*/


/*@keyframes blink {
            25% {
                border: 2px solid red;
            }
        }*/
        /*.blinkBorder {
            animation-name: blink;
            animation-duration: .08s;
            animation-timing-function: step-end;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }*/