/*
*******************
*******************
*****priceTag******
*******************
*******************
*/


.priceTag-appear, .priceTag-enter {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

  @-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }

  @keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  } 

.priceTag-leave {
  opacity: 1;
}

.priceTag-leave.priceTag-leave-active {
  opacity: 0.01;
  transition: opacity 0.4s ease-in;
}



/*
*******************
*******************
*****auctions******
*******************
*******************
*/

.auction-appear, .auction-enter{
  opacity: 0.01;
}

.auction-appear.auction-appear-active, .auction-enter.auction-enter-active {
  opacity: 1;
  transition: opacity .7s ease-in;
}

.auction-leave {
  opacity: 1;
}

.auction-leave.auction-leave-active {
  opacity: 0.01;
  transition: opacity 0.4s ease-in;
}

/*
*******************
*******************
*****slideshow*****
*******************
*******************
*/


.slide-enter.left {
    transform: translate(-100%);
}
.slide-enter.slide-enter-active.left {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}
.slide-leave.left {
    transform: translate(-100%);
}
.slide-leave.slide-leave-active.left {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}
.slide-enter.right {
    transform: translate(0%);
}
.slide-enter.slide-enter-active.right {
    transform: translate(-100%);
    transition: transform 500ms ease-in-out;
}
.slide-leave.right {
    transform: translate(0%);
}
.slide-leave.slide-leave-active.right {
    transform: translate(-100%);
    transition: transform 500ms ease-in-out;
}

/*
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
*/
.slideLeft-enter {
    transform: translate(-100%);
}
.slideLeft-enter.slideLeft-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}
.slideLeft-leave {
    transform: translate(-100%);
}
.slideLeft-leave.slideLeft-leave-active {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}
.slideRight-enter {
    transform: translate(0%);
}
.slideRight-enter.slideRight-enter-active {
    transform: translate(-100%);
    transition: transform 500ms ease-in-out;
}
.slideRight-leave {
    transform: translate(0%);
}
.slideRight-leave.slideRight-leave-active {
    transform: translate(-100%);
    transition: transform 500ms ease-in-out;
}