/*
stylllllllllllllllllllllleeeeeeeeeeeeee sheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeet



*/



html {
    direction: rtl;
}

/*#EditPic {
    padding-left: 23%;
}

#EditTable {
    direction: rtl;
    padding-left: 17%;
}

#EditPage {
    margin-top: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: none;
}*/


#ImHereToStay {
    margin-right: 45px;
}

/*#LoginForm, #ForgotPassForm, #RegisterForm, #FirstRegisterForm, #CompleteRegisterForm, #RestorePassForm {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}*/

.Form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#TaramtiMenuIconDiv {
    width: 5%;
    float: right;
    margin-top: 7.5px;
    margin-right: 8px;
}

#TaramtiMenuIcon {
    margin: 0 auto;
}

#TaramtiLogo {
    float: left;
    margin-left: -2%;
    width: 95%;
}

#TaramtiLogoLogin {
    width: 100%;
}

#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    /* make a square container */
    width: 150px;
    height: 150px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

#UpperLogo {
    height: 74.05px;
}

#CameraBtn {
    height: 44.38px;
    width: 20%;
    display: inline;
    float: left;
}

#UploadFileBtn {
    margin-left: 2%;
    width: 78%;
    display: inline;
    float: left;
}

#image_holder {
    width: 100%;
    display: block;
    overflow: auto;
}

    #image_holder img {
        width: 100%;
        max-height:150px;
    }

    #image_holder div {
        width: 48%;
        float: left;
        margin: 1.5px 1% 1.5px 1%;
    }


#AddingProductAuctionbtn {
    margin-top: 5px;
    width: 100%;
}

input[type=text] {
    text-align: center;
}


h1.ui-collapsible-heading, .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-minus, .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-plus {
    width: 30px;
    height: 74PX;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

div.ui-collapsible.ui-collapsible-inset.ui-corner-all.ui-collapsible-themed-content {
    position: fixed;
    top: 0PX;
    margin: 0 0 0 0;
    z-index: 100;
    border-top-width: 0px;
    width: 60%;
    border-color: black;
    border-width: 2px;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    display: none;
}

a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
    background-color: #98b8dc;
    border-color: black;
}

a.closeBox {
    position: relative;
    float: right;
    top: 25px;
    right: 1px;
    z-index: 100;
    /*margin-top: -10px;*/
    /*margin-right: -15px;*/
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    /*display: inline-block;*/
    line-height: 0px;
    padding: 11px 3px;
}

.closeBox:before {
    content: "×";
}

#fixedPlus {
    bottom: -20%;
    height: 200px;
    width: 60px;
    left: 1%;
    position: fixed;
}

#fixedCircle {
    bottom: -17.5%;
    height: 200px;
    width: 60px;
    left: 4%;
    position: fixed;
}


#fixedHome {
    bottom: -20%;
    height: 200px;
    width: 60px;
    left: 1%;
    position: fixed;
}

.styleLink {
    text-decoration: none;
    text-decoration-line: none;
}

.styleLinkH {
    text-align:center;
}
