html {
    direction: rtl;
}

/*#EditPic {
    padding-left: 23%;
}

#EditTable {
    direction: rtl;
    padding-left: 17%;
}

#EditPage {
    margin-top: 10%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: none;
}*/


#ImHereToStay {
    margin-right: 45px;
}

/*#LoginForm, #ForgotPassForm, #RegisterForm, #FirstRegisterForm, #CompleteRegisterForm, #RestorePassForm {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}*/

.Form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#TaramtiMenuIconDiv {
    width: 5%;
    float: left;
    margin-top: 7.5px;
}

#TaramtiMenuIcon {
    margin: 0 auto;
}

#TaramtiLogo {
    float: left;
    margin-left: -2%;
    width: 95%;
}

#TaramtiLogoLogin {
    width: 100%;
}

#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    /* make a square container */
    width: 150px;
    height: 150px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

#UpperLogo {
    height: 74.05px;
}

#CameraBtn {
    height:44.38px;
    width: 20%;
    display: inline;
    float: left;
    
}

#UploadFileBtn {
    margin-left:2%;
    width: 78%;
    display: inline;
    float: left;
}

#image_holder{
     width:100%;
    display:block;
    overflow:auto;
}

#image_holder img{
    width:48%;
    float:left;
    margin:3px 1% 3px 1%;
    
}

#AddingProductAuctionbtn{
    margin-top:5px;
    width:100%;
}
input[type=text] { 
    text-align: center; 
}
